.navbar_component {
    width: 100vw;
    height: 75px;
    background-color: rgb(10, 10, 9);
    display: flex;
}

.navbar_logo {
    background: url('https://ik.imagekit.io/BanHang1234/amazon-image/sprite.png?updatedAt=1724489764208') no-repeat -20px -180px;
    width: 152px;
    height: 46px;
    margin: 20px;
}

.navbar_locator {
    color: aliceblue;
    font-weight: bold;
}

.navbar_locator {
    display: flex;
    margin: 20px 0px;
    margin-left: 5px;
}

.navbar_locatorImages {
    background: url('https://ik.imagekit.io/BanHang1234/amazon-image/sprite.png?updatedAt=1724489764208') no-repeat -142px -612px;
    width: 34px;
    height: 40px;
}

.navbar_searchbox {
    width: 640px;
    height: 30px;
    margin-top: 10px;
}

.navbar_searchcomponet {
    display: flex;
    align-items: center;
    margin-left: 72px;
}

.navbar__searchicon {
    background: url('https://ik.imagekit.io/BanHang1234/amazon-image/sprite.png?updatedAt=1724489764208') no-repeat -20px -580px;
    width: 42px;
    height: 42px;
}

.navbar__seaarchboxdiv {
    background: #FEBE68;
    width: 48px;
    height: 45px;
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__dropdown {
    width: 60px;
    height: 45px;
    background-color: #e6e5e5;
    border-radius: 5px 0 0 5px;
    text-align-last: center;
    border: none;
    outline: none;
}

.navbar__searchcomponent {
    display: flex;
    align-items: center;
    height: 40px;

}

.navbar__searchbox {
    height: 42px;
    border: none;
    outline: none;
}

.navbar__signin {
    width: 120px;
    margin-top: 13px;
    margin-left: 60px;
}

.navbar__returns {
    width: 80px;
    margin-top: 13px;
    margin-left: 10px
}

.navbar__cart {
    display: flex;
    margin-top: 15px;
}

.navbar_text {
    color: white;
}

.cart__image {
    background: url('https://ik.imagekit.io/BanHang1234/amazon-image/sprite.png?updatedAt=1724489764208') no-repeat -436px -674px;
    width: 82px;
    height: 56px;
}

.navbar_text_cart {
    margin-top: 13px;
    font-weight: bold;
    position: relative;
    left: -10px;
}

.cart__item {
    font-weight: bold;
    position: relative;
    left: -23px;
    top: -3px;
    color: #F08805;
}

.navbar__footer {
    width: 100vw;
    height: 30px;
    background-color: #22303E;
    color: white;
    display: flex;
}

.navbar__footer_text {
    margin: 5px 10px;
    font-size: 14px;
    font-weight: bold;
}